.content{
    width: 100%;  
}

.topico-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
    flex: 0 0 auto;
    padding: 2%;
    width: 90%;
    margin-left: 5%;
    border-bottom: 2px solid #4a4949;
    max-width: 90%;
}

.topico-content pre{
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
}

.topico-container strong{
    color: #e0e0e0;
    font: 500 12px Poppins, sans-serif;  
}

.topico-container small{
    color: #919191 ;
}

.topic-content h1{
    font: 500 24px Poppins, sans-serif; 
    color: #d3d3d3;
}

.topic-content p{
    color:  #818080;   
}