
input{
    background-color:#35353509;
    font: 500 14px Poppins, sans-serif;
    color: #ffffff;
    border-radius: 18px;
    padding: 10px;;
    height: 40px;
    max-width: 200px;
}

::placeholder{
    color: #919191;
}




