



@media screen and (min-width: 660px){

    .sidebar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;    
        width: 20%;
        border-right: 2px solid #4a4949;
    }

    .sidebar ul > li button{
        background: #292929;
        font: 500 12px Poppins, sans-serif;  
        color:  #919191;
        margin-left: 12px;
    }

    .sidebar ul > li .icon-item{
        color:  #919191;
    }
    
    .sidebar ul > .buttonItem{
        margin-bottom: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
    }
    
    
    .buttonSelect{
        font: 500 14px Poppins, sans-serif;   
        background: rgb(72,186,148);
        background: linear-gradient(90deg, rgba(72,186,148,1) 0%, rgba(87,226,180,1) 100%);    box-shadow: 0 0 6px rgb(16, 228, 164);
        color: #f0f0f0;
        padding: 8px;
        border-radius: 18px;
        white-space: nowrap;
    }    

}